@model IEnumerable<dzfsh.Data>

@{
    ViewBag.Title = "Index";
}

<h2>Equipos</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipo)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEquipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIni)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<br />
<center>
    @using (Html.BeginForm("Index", "Data", FormMethod.Post))
    {
        <span>From</span><input type="date" name="fechainicio">
        <span>To</span><input type="date" name="fechafin">
        <input type="submit" value="Show" />
        <br />
        <table class="table" >
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                <th>
                    @Html.DisplayNameFor(model => model.Multa)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Multa)
                    </td>
                </tr>
            }
        </table>
    }
</center>
